@model HPIMS_MVC_SignalR_Integrated.Models.ServerModel
@{
    ViewBag.Title = "Add Information";
}

<div class="container">
    <br />
    <h4 style="font-weight:600">Add Data:</h4>
    <h5 style="font-style:italic;font-weight:300">Enter information in the field and click save to add data.</h5>
    <hr />
    <div style="text-align:right">
        <a class="btn btn-outline-success" role="button" style="text-decoration:none" href="@Url.Action("ServerList","Server")">
            Back to List
        </a>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-borderless">
            <tr>
                <td style="font-weight:600">
                 @Html.LabelFor(model => model.ServerName, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                @Html.EditorFor(model => model.ServerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServerName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.ServerType, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.ServerType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ServerType, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.DriveCUsage, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.DriveCUsage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DriveCUsage, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.DriveEUsage, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.DriveEUsage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DriveEUsage, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.DriveFUsage, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.DriveFUsage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DriveFUsage, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.ThresholdUsage, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.ThresholdUsage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ThresholdUsage, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.IsActive)
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.IsUserLoggedIn, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.IsUserLoggedIn)
                </td>
            </tr>
            <tr>
                <td style="font-weight:600">
                    @Html.LabelFor(model => model.IsServerUp, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.EditorFor(model => model.IsServerUp)
                </td>
            </tr>
        </table>
    <hr />
    <input type="submit" value="Save" class="btn btn-outline-success btn-lg" />
    </div>
    }

</div>
<br />
